@use '../../styles/vars';

/* Conteneur principal */
.results-container {
  margin: 0 auto;
  padding: 35px;
  color: black;
  font-family: vars.$fontFredoka;
  
/* Propriétés pour positionner votre container */
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* Logo */
  .logo {
    img.home-logo {
      display: block;
      margin: 0 auto 40px;
      max-width: 200px;
    }
  }

  /* Résultats */
  .results {
    text-align: center;
    margin-bottom: 40px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: vars.$boxShadow;
    padding: 4em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation-name: fadeInOpacity;
	        animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
        animation-duration: 2s;
  
        @-webkit-keyframes fadeInOpacity {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        
        @keyframes fadeInOpacity {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

    .results-explosion {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
    }

    .results-bravo {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .results-sentence {
      display: block;
      margin-bottom: 20px;
      font-size: 24px;
    }

    .results-points {
      display: block;
      font-size: 48px;
      font-weight: bold;
      padding: 1em;
      margin-bottom: 1em;
      background-color: #226D68;
      color: white;
      box-shadow: vars.$boxShadow;
      animation: wiggle 2s linear infinite;

      @media (max-width: 375px) {
        padding: 1em 0;
        width: 60%;
      }
    }

    @keyframes wiggle {
      0%, 7% {
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-15deg);
      }
      20% {
        transform: rotateZ(10deg);
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
      }
      35% {
        transform: rotateZ(-4deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
    }

    @media (max-width: 768px) {
      padding: 3em;

      .results-points {
        font-size: 24px;        
      }
    }

    @media (max-width: 425px) {
      padding: 2em;
      width: 90%;
    }

    @media (max-width: 375px) {
      padding: 0.5em;
    }
  }

  /* Classement */
  .ranking {
    text-align: center;
    margin-bottom: 40px;

    .ranking-results {
      font-size: 24px;
    }
  }

  /* Boutons */
  .btn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .btn-playAgain,
    .btn-BackHome {
      padding: 10px 22px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }

    .btn-playAgain {
      border: 1px solid #6b482a;
      color: #6b482a;
      box-shadow: 8px 8px 31px -3px rgba(0,0,0,0.72);

      &:hover {
        background-color: #6b482a;
        color: #fff;
      }

      @media (max-width: 425px) {
        margin-bottom: 0.5rem;
      }
    }

    .btn-BackHome {
      border: 1px solid #6b482a;
      color: #6b482a;
      box-shadow: 8px 8px 31px -3px rgba(0,0,0,0.72);

      &:hover {
        background-color: #6b482a;
        color: #fff;
      }
    }

    @media (max-width: 425px) {
      flex-direction: column;
    }
  }

  .notConnected {
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-subscribe {
      padding: 10px 22px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;
      background-color: rgb(117, 30, 30);
      color: #fff;
      margin-top: 10px;
      box-shadow: 8px 8px 31px -3px rgba(0,0,0,0.72);

      &:hover {
        background-color: #1E0F1C;
      }
    }
  }

  a:hover {
    color: #fff;
    text-decoration: none;

    .notConnected-text {
      color: #000;
    }
  }

  @media (max-width: 375px) {
    padding: 0.5rem;
  }
}
