@use '../../styles/vars';

.home {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4ebd0e1;
  display: inline-table;
  // text-align: center;
  font-family: vars.$fontFredoka;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    .home__logo {
      margin: 1rem auto;
      width: 100%;
      max-width: 500px;

      @media (max-width: 768px) {
        max-width: 400px;
      }
    }

    .home__button-container {
      display: flex;
      flex-direction: column;      
      text-align: center;

      .home__button {
        margin: 1rem auto;
        width: 90%;
        box-shadow: 8px 8px 31px -3px rgba(0,0,0,0.72);
        max-width: 400px;
        padding: 0;
    
        &.play {
          background-color: #B97335;
          border: 1px solid #6b482a;

          &:hover {
            background-color: #6b482a;          
          }
        }
    
        &.login {
          border: 1px solid #6b482a;
          color: #6b482a;

          &:hover {
            background-color: #6b482a;
            color: #fff;
          }
        }

        &-link {
          width: 100%;
          display: block;
          padding: 0.5rem;

          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      } 
    }   
  }
}

@media (max-width: 320px) {
  .home__button {
    font-size: 1rem;
  }
}
