@import url(https://fonts.bunny.net/css?family=fredoka-one:400|oswald:700);

$fontFredoka: 'Fredoka One', display;
$principalColor: rgba(244, 235, 208, 0.85);
$secondaryColor : rgba(227, 205, 139, 0.90);
$boxShadow : rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px,
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;
