html, body, #root, .app {
  height: 100%;
  overflow: auto;
}

#root {
  background: url('../../assets/images/background.svg');
  background-size: cover;
  background-position: center;
}

.app {
  /* background-color: #f4ebd081; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .app {
    padding: 0 10%;
  }
}

@media (min-width: 1440px) {
  .app {
    padding: 0 15%;
  }
}
