@use '../../styles/vars';

.game {
  height: 100%;
  margin: 0;
  background-color: #F4EBD0;
  padding: 1rem 0; 
  font-family: vars.$fontFredoka;
  font-size: 0.9rem;

  &__bouton-start {
    display: flex;
    justify-content: space-around;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #A7001E;
    color: #fff;

      &:hover {
        background-color: #1E0F1C;
      }
  }

  &__countdown {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    counter-reset: my-count 5;
    animation: countdown 5s linear infinite;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1rem;
  }

  @keyframes countdown {
    0% {
      background: hsl(0,100%,20%);
    }
    20% {
      counter-increment: my-count -1;
      background: hsl(90,100%,20%);
    }
    40% {
      counter-increment: my-count -2;
      background: hsl(180,100%,20%);
    }
    60% {
      counter-increment: my-count -3;
      background: hsl(270,100%,20%);
    }
    80% {
      counter-increment: my-count -4;
      background: hsl(360,100%,20%);
    }
    100% {
      background: hsl(0,100%,20%);
    }
  }

  &__container {
    border: 1px solid #6b482a63;
    border-radius: 7px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__score {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 80%;
    border: 1px solid #6b482a5d;

    &-text {      
      padding: 1rem;      
    }
  }

  &__affiche {
    width: 80%;
    height: 200px;
    margin: 0 auto 1rem auto;
    text-align: center;
    // filter: blur(5px);
    // -webkit-filter: blur(5px);    

    &-poster {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__indices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    &-container { 
      width: 100%;     
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #6b482a5d;
    }

    &-title {
      margin-bottom: 0.25rem;
      text-decoration: underline;
    }

    &-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item {
      color: #6b482a;
      margin-right: 0.5rem;
    }

    .masked {
      // filter: blur(5px);
      // -webkit-filter: blur(5px);
      // transition: filter 0.5s linear;

      &:hover {
        filter: blur(0);
        -webkit-filter: blur(0);
      }
    }
  }

  &__responses {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;

    &-button {
      margin-bottom: 0.5rem;
      border: 1px solid #6b482a;
      color: #6b482a;

      &:hover {
        border: 1px solid #6b482a;
        background-color: #6b482a;
        color: #fff;
      }      
    }
  }
}

@media (max-width: 576px) {
  .game__responses {
    justify-content: center;
  }
}

@media (max-width: 1024px) {   
  .game__container {
      padding: 0.5rem 1rem;
    }

  .game__responses-button {
    font-size: 0.8rem;
    word-wrap: break-word;
  }
}
