@use '../../styles/vars';

.game {
  height: 100%;
  margin: 0;
  background-color: #F4EBD0;
  padding: 1rem 0; 
  font-family: vars.$fontFredoka;
  font-size: 0.9rem;

  &__container {
    border: 1px solid #6b482a63;
    border-radius: 7px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__score {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 80%;
    border: 1px solid #6b482a5d;

    &-text {      
      padding: 1rem;      
    }
  }

  &__affiche {
    width: 80%;
    height: 200px;
    margin: 0 auto 1rem auto;
    text-align: center;
    // filter: blur(5px);
    // -webkit-filter: blur(5px);    

    &-poster {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__indices {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    &-container { 
      width: 100%;     
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #6b482a5d;
    }

    &-title {
      margin-bottom: 0.25rem;
      text-decoration: underline;
    }

    &-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item {
      color: #6b482a;
      margin-right: 0.5rem;
    }

    .masked {
      filter: blur(5px);
      -webkit-filter: blur(5px);
      transition: filter 0.5s linear;

      &:hover {
        filter: blur(0);
        -webkit-filter: blur(0);
      }
    }
  }

  &__responses {    
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;

    &-button {
      padding: 0 !important;
      margin-bottom: 0.5rem;
      border: 1px solid #6b482a;
      color: #6b482a;
      white-space: normal;

      & > a {
        display: inline-block;
        width: 100%;
        height: 100%;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      &:hover, &:active, &:focus {
        border: 1px solid #6b482a !important;
        background-color: #6b482a !important;
        color: #fff !important;
        box-shadow: none !important;
      }

      &-text {
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .game__responses {
    justify-content: center;
  }
}

@media (max-width: 1024px) {   
  .game__container {
      padding: 0.5rem 1rem;
    }

  .game__responses-button {
    font-size: 0.8rem;
    word-wrap: break-word;
  }
}
