@use '../../styles/vars';

.LoginPage{
  width: 100%;
  height: 100%;
  font-family: vars.$fontFredoka;
  height: 100vh;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  img{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
  }
  .login-icon{
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;


    .small-p{
      color: gray;
      text-decoration: underline;
      margin: 10px;
    }

  }

  .btn{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: #46b290;
    color: white;
  }

  .btn:hover {
   transform: translateY(-0.33em);
   background-color: #006666;
   color: white;
  }

  .btn:active {
   transform: translateY(0);
  }

  hr{
    width: 30%;
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 600px) {
    .btn{
      text-align: center;
      font-size: 0.5em;
    }
    .small-p{
      font-size: 0.5em;
    }
  }
  @media screen and (max-width: 300px) {
    .btn{
      text-align: center;
      font-size: 0.2em;
    }
    .small-p{
      font-size: 0.2em;
    }
  }
}
